{% assign content_slug = section.name | slugify %}
{% if section.status == 'complete' %}
  {% assign section_done = 'completed' %}
{% else %}
 {% assign section_done = section.status %}
{% endif %}
{% assign most_recent_milestone = milestones | first %}
{% assign most_recent_task = include.tasks | where: 'milestone_id', most_recent_milestone.id | first%}

<section class="milestone-item block__border-top" role="tablist">
  <div class="row">
    <div class="col-1 avatar-group">
      {% assign actor_count = section.actors.size - 2 %}
      {% for actor in section.actors limit: 2 %}
        {% assign user = site.data.users[actor] %}
        {% include user_avatar.html user=user %}
      {% endfor %}
      {{DUE_STATUS}}
    </div>
    <div class="milestone-item-title col-3"
      role="tab"
      aria-controls="{{ content_slug }}"
      data-status="{{ section_done }}"
    >
      {% assign task = most_recent_task %}
      {% assign date = task.due_date | date: DATE_FORMAT %}
      {% assign preposition = task.status | get_preposition_by %}
      {% assign message = task.message | append: preposition | append: date %}

      <h3>
        <b>{{ section.name }}</b>
      </h3>

      {% if section.status == 'new' %}
        <p class="mute">
          <em>
            Awaiting completion of {{section.depends_on}}
          </em>
        </p>
      {% else %}
        {% include markdownify.html content=message links=LINKS %}
      {% endif %}

    </div>
  </div>

  <div class="row" role="tabpanel" aria-hidden="true" id="{{ content_slug }}">
    <div class="col-1"></div>
    <div class="col-3 milestone-documents">
      <h4 class="milestone-documents__title">Milestones</h4>
      {% for milestone in milestones %}
        {% if milestone.status == 'complete' %}
          {% assign milestone_done = 'completed' %}
        {% else %}
          {% assign milestone = milestone.status %}
        {% endif %}

        {% assign current_task = include.tasks | where: 'milestone_id', milestone.id | first %}

        {% if current_task.upcoming_id %}
          {% assign upcoming = UPCOMING | where: "id", current_task.upcoming_id %}
        {% else if current_task.status == "new"}
          {% assign upcoming = true %}
        {% else %}
          {% assign upcoming = false %}
        {% endif %}

        <section class="milestone-item block__border-bottom" role="tablist">
          <div class="row">
            <div class="milestone-item-title col-3"
              role="tab"
              data-status="{{ milestone_done }}"
            >
              {% assign date = current_task.due_date | date: DATE_FORMAT %}
              {% assign preposition = current_task.status | get_preposition_by %}
              {% assign message = current_task.message | append: preposition | append: date %}

              <h5 style="margin-bottom: 0">
                <b>{{ milestone.name }}</b>
              </h5>

              {% if milestone.status == 'new' %}
                <p class="mute">No activity yet</p>
              {% else %}
                {% include markdownify.html content=message links=LINKS %}
              {% endif %}

              {% if upcoming %}
                <h6>Upcoming task:</h6>
                <p>{% include markdownify.html content=upcoming.message links=LINKS %}</p>

              {% endif %}


            </div>
          </div>
        </section>

      {% endfor %}
    </div>
  </div>
</section>
