---
---

@import 'palette';

.site__active-overview {
  background: $green;

  nav {
    margin-bottom: 2em;
    text-align: right;

    ul,
    li {
      list-style: none;
      padding: 0;
      margin: 0;
    }

    ul {
      display: block;
    }

    li {
      display: inline-block;
      margin-left: 1em;
    }

    a:link {
      color: $white;
    }
  }

  h1 {
    font-size: 4em;
    font-weight: 600;

    select {
      appearance: none;
      -webkit-appearance: none;
      background: none;
      border: none;
      color: $white;
      display: inline-block;
      font: inherit;
      padding: 0;
      text-decoration: underline;

      &::after {
        content: "▾";
        display: inline-block;
        margin-left: 0.2em;
      }

    }
  }

  ul[role=navigation] {
    display: block;
    list-style: none;
    margin: 0;
    padding: 0;
    width: auto;
    width: 40%;

    li {
      border-bottom: 2px solid;
      display: block;
      font-size: 1.5em;
      font-weight: bold;
      padding: 0;

      a:link {
        border-bottom: none;
        color: $white;
        display: block;
        padding: 0.5em;
        position: relative;
        text-decoration: underline;

        &::after {
          content: "▸";
          color: $black;
          position: absolute;
          right: 0;
        }
      }
    }
  }
}

