---
---

@import 'palette';

header {
  background: $green;
  margin: 0;
  padding-bottom: 1em;
  padding-top: 2em;

  h2 {
    margin-bottom: 0;
  }

  .block__sub {
    margin-bottom: 0;
    margin-top: 0;
  }

  .header__right {
    color: $white;
  }
}

.row {
  display: flex;
  margin: 1em;
  // border: 1px solid black;

  .col {
    flex: 1;
  }

  .col + .col {
    margin-left: 0.5em;
  }

  @for $i from 1 through 12 {
    .col-#{$i} {
      flex: $i;
    }
  }
}


.avatar {
  display: inline-block;
  height: 3.5em;
  width: 3.5em;
  border-radius: 5em;
  vertical-align: middle;
}

.site__procurements-list {

  .procurement-card {
    border-top: 2px solid $black;
    margin-top: 0;

    h1 {
      background: $gray-20;
      padding: 0.8em 1em 0.4em 2em;
      position: relative;

      &::before {
        background: $gray-40;
        border-radius: 1em;
        content: "";
        display: inline-block;
        height: 1em;
        margin-right: -1.5em;
        position: absolute;
        right: 100%;
        text-align: center;
        bottom: 0.5em;
        width: 1em;
      }

      [is=cfpb-fave-star] {
        position: absolute;
        right: 1em;
      }
    }

    &[data-status="past due"] h1::before {
      background: $red;
      color: $white;
      content: "!";
    }
  }
}

.site__procurement-detail {
  font-family: Helvetica, Arial, sans-serif;

  .content_wrapper {
    margin: 0;
    padding: 0;
    max-width: 100%;
    width: 100%;
  }
  .content_main {
    border: initial;
    padding: 0;
    margin: 0;
  }

  .detail-header {
    background: $green;
    border-top: 1px solid $white;

    .detail-header__title {
      margin-bottom: 0;
    }

    .detail-header__data {
      color: $white;
    }
  }
}
