.site__wide .content_wrapper,
.site__wide .wrapper__match-content {
  margin-left: 0;
  margin-right: 0;
  max-width: none;
}

.header {
  vertical-align: middle;

  .header__left {
    float: left;
    margin-bottom: 0px;
  }

  .header__right {
    float: right;
    margin-bottom: 0px;
  }

  &:after {
    clear: both;
    content: "";
    display: table;
  }
}
