---
title: Components
layout: default
table:
  columns: [Name, Age]
  rows:
  - [Joe, 30]
  - [Pat, 31]
  - [Billie, 29]
  - [Frankie, 28]
  - [Jo, 32]
---

<h1>Sortable Table</h1>

<table is="cfpb-sortable-table">
  <thead>
    <tr>
      {% for column in page.table.columns %}
      <th data-value="{{ column }}" aria-sort="none">
        {% include sort-icons.html %}
        {{ column }}
        {% include filter-popup.html column=column %}
      </th>
      {% endfor %}
    </tr>
  </thead>
  <tbody>
    {% for row in page.table.rows %}
    <tr>
      {% for value in row %}
      <td>{{ value }}</td>
      {% endfor %}
    </tr>
    {% endfor %}
  </tbody>
</table>
