---
title: Checklist Conversation
layout: checklist
---
{% assign milestones = site.data.checklist.milestones %}
{% assign users = site.data.checklist.users %}

<h2>Complete Acquisition Package Documents</h2>

<h4>Submit the following documents:</h4>

<div role="tablist" class="feature-list">
  {% for milestone in milestones %}
    {% assign user = users[milestone.owner] %}
    {% assign content_slug = milestone.title | slugify %}
    {% assign conversations = milestone.conversation %}
  <section class="feature-list_item block block__padded-top block__border-top"
    data-status="{{ milestone.status }}">
    <div>
      <h3 role="tab" aria-controls="{{ content_slug }}">
        <img class="avatar" src="{{ site.baseurl }}/static/images/avatars/{{ user.avatar }}.jpg">
        <button>
          <span class="cf-icon cf-icon-document"></span> {{ milestone.title }}
        </button>
      </h3>
      <h4 class="status">
        <span class="status-label">{{ milestone.status }}</span>
        on
        <time>{{ milestone.date }}</time>
        by
        <a href="#contact">{{ user.name }}</a>
      </h4>
    </div>
    <div class="content" role="tabpanel" id="{{ content_slug }}">
      <h5>Conversation</h5>
      <div class="conversations">
        {% for conversation in conversations %}
          {% assign owner = users[conversation.owner] %}
          <div class="conversation-block" style="">
            <img class="content-l_col avatar" src="{{ site.baseurl }}/static/images/avatars/{{ owner.avatar }}.jpg">
            <p class="content-l_col content-l_col-3-4 conversation-block_item bubble" style="background: {{owner.bubble}}; color: {{owner.color}}; border-color: {{owner.bubble}}">
              {{conversation.text}}
            </p>
          </div>
        {% endfor %}
      </div>
      <form id="{{}}" class="block comment-form">
        <textarea class="comment-form_comment"></textarea>
        <button type=submit class="submit-comment btn">Comment</button>
      </form>
      <button class="btn">Mark as done</button>
    </div>
  </section>
  {% endfor %}
</div>

<nav class="pagination">
  <a class="btn btn__super pagination_prev" href="#pagination_content">
    <span class="btn_icon__left cf-icon cf-icon-left"></span>
    Previous: Budget Formulation
  </a>
  <a class="btn btn__super pagination_next" href="#pagination_content">
    Next: T&amp;I Services
    <span class="btn_icon__right cf-icon cf-icon-right"></span>
  </a>
  <form class="pagination_form" action="index.html#pagination_content">
    <!-- XXX hack hack hack -->
    <input
      style="visibility: hidden"
      class="pagination_current-page"
      id="pagination_current-page"
      name="pagination_current-page"
      type="number" min="1" max="149"
      value="149">
  </form>
</nav>

<script>
  window.addEventListener('load', function() {
    var tablist = $('[role=tablist]');

    tablist.find('[role=tabpanel]')
      .attr('aria-hidden', true);

    tablist.on('click', '[role=tab]', function(e) {
      var id = this.getAttribute('aria-controls');
      var expanded = this.getAttribute('aria-expanded') !== 'true';
      this.setAttribute('aria-expanded', expanded);
      var panel = document.getElementById(id);
      panel.setAttribute('aria-hidden', !expanded);
      panel.setAttribute('tabindex', expanded ? 0 : -1);
    });

    /* comments */
  });
</script>
