[is="cfpb-sortable-table"] {

  // all sortable headers get aria-sort
  [aria-sort] {
    cursor: pointer;
    padding-right: 2em;
    position: relative;

    &::after {
      color: $gray-40;
      content: "▽";
      position: absolute;
      right: 0.5em;
      top: 0.9em;
    }
  }

  // sorted headers have aria-sort="ascending|descending"
  [aria-sort=ascending],
  [aria-sort=descending] {
    background: $black;

    &::after {
      color: $white;
    }
  }

  // show a down arrow for ascending sort
  [aria-sort=ascending]::after {
    content: "▼";
  }

  // show an up arrow for descending sort
  [aria-sort=descending]::after {
    content: "▲";
  }

  // tiger striped body rows
  tbody tr:nth-child(odd) {
    background: $gray-10;
  }

}
