---
layout: default
---

<section class="prototype-checklist">

  <div class="project-header" role="banner">
    <ul class="user-list">
      {% for user in site.data.checklist.users %}
      <li>{% include user_avatar.html user=user %}</li>
      {% endfor %}
    </ul>
    <h2 class="project-name">Project name goes here</h2>
  </div>

  {% assign milestones = site.data.checklist.milestones %}
  {% assign users = site.data.checklist.users %}

  <h2>Acquisition package document checklist</h2>

  <p>The following documents are required for the acquisition package. Please submit each document by the deadline listed.</p>

  <div role="tablist" class="feature-list">
    {% for milestone in milestones %}
      {% assign owner = users[milestone.owner] %}
      {% assign content_slug = milestone.title | slugify %}
    <section class="feature-list_item block block__padded-top block__border-top"
      data-status="{{ milestone.status | downcase }}">

      <div class="feature-list_item-header">
        <h3>
          {% include user_avatar.html user=owner %}
          <button role="tab"{% unless milestone.completed %} aria-controls="{{ content_slug }}"{% endunless %}>
            <span class="cf-icon cf-icon-document"></span> {{ milestone.title }}
          </button>
        </h3>
        <h4 class="status">
          <span class="status-label">{{ milestone.status }}</span>
          {% if milestone.status == 'Completed' %}
            by
          {% else %}
            from
          {% endif %}
          <a href="#contact">{{ owner.name }}</a>
          on
          <time>{{ milestone.date[milestone.status] | default: milestone.date.due }}</time>
        </h4>
      </div>
      <div role="tabpanel" aria-hidden="true" id="{{ content_slug }}">
        {% include {{ page.content_include }} %}
      </div>
    </section>
    {% endfor %}
  </div>
</section>

<nav class="pagination">
  <a class="btn btn__super pagination_prev" href="#pagination_content">
    <span class="btn_icon__left cf-icon cf-icon-left"></span>
    Previous: Budget Formulation
  </a>
  <a class="btn btn__super pagination_next" href="#pagination_content">
    Next: T&amp;I Services
    <span class="btn_icon__right cf-icon cf-icon-right"></span>
  </a>
  <form class="pagination_form" action="index.html#pagination_content">
    <!-- XXX hack hack hack -->
    <input
      style="visibility: hidden"
      class="pagination_current-page"
      id="pagination_current-page"
      name="pagination_current-page"
      type="number" min="1" max="149"
      value="149">
  </form>
</nav>

<script id="avatar-include" type="text/html">
  {% include user_avatar.html user=owner className="content-l_col" %}
  <p class="content-l_col content-l_col-3-4 conversation-block_item bubble" style="background: {{owner.bubble}}; color: {{owner.color}}; border-color: {{owner.bubble}}">
    <i data-timestamp=""></i>
    <br/>
    <span class="comment-text"></span>
  </p>
</script>

<script>
  window.addEventListener('load', function() {

    var CONTROLS = 'aria-controls';
    var HIDDEN = 'aria-hidden';
    var EXPANDED = 'aria-expanded';

    var tablist = $('[role=tablist]');

    tablist.on('click', '[role=tab][aria-controls]', function(e) {
      var id = this.getAttribute(CONTROLS);
      var expanded = this.getAttribute(EXPANDED) !== 'true';
      this.setAttribute(EXPANDED, expanded);
      var panel = document.getElementById(id);
      panel.setAttribute(HIDDEN, !expanded);
    });

    //document.body.appendChild(document.getElementById('avatar-include').textContent);
    function findParent(klass, child) {
      var parent = child.parentNode;

      while(parent.className !== klass) {
        parent = parent.parentNode;
      }

      return parent;
    }

    /** timestamps **/
    var timestamps = document.querySelectorAll('[data-timestamp]');
    var dates = [].slice.call(timestamps).forEach(function(el) {
      var time = el.getAttribute(['data-timestamp']);
      var formatted = moment(time, "MM-DD-YYYY").format("ddd, MMMM DD YYYY");
      el.textContent = 'on ' + formatted + ':';
    });

    /** commenting **/
    function handleComment(event) {
      event.preventDefault();
      var value = event.target.form.comment.value;

      if (!value) {
        return;
      }

      var convoTab = event.target.parentNode.previousElementSibling;
      var fragment = document.createDocumentFragment();
      var div = document.createElement('div');
      var template = document.getElementById('avatar-include').innerHTML;
      div.className = "conversation-block";
      div.innerHTML = template;
      div.querySelector('.comment-text').innerHTML = value;
      div.querySelector('[data-timestamp]').textContent = moment().format("ddd, MMMM DD YYYY");
      fragment.appendChild(div);
      convoTab.appendChild(fragment);

      event.target.form.comment.value = '';
    }

    var submitButtons = document.querySelectorAll('.submit-comment');
    [].slice.call(submitButtons).forEach(function(button) {
      button.addEventListener('click', handleComment);
    });

    /** mark as done **/
    function markAsDone(event) {
      var element = event.target;
      var convoTab = element.parentNode;
      var sectionTab = convoTab.parentNode;

      convoTab.setAttribute('aria-hidden', true);

      sectionTab.setAttribute('data-status', 'completed');
      sectionTab.querySelector('.status-label').textContent = 'Completed';
    }

    var doneButtons = document.querySelectorAll('.set-done');
    [].slice.call(doneButtons).forEach(function(el) {
      el.addEventListener('click', markAsDone);
    });
  });
</script>

{{ content }}
