<!DOCTYPE html>
<html lang="en">
  <head>
  </head>
  <body>
    {% assign DATE_FORMAT = '%b %d, %Y' %}
    {% for pr in site.procurements %}
    <section data-status="{{ pr.status }}">
      <h1>{{ pr.name }} ({{ pr.status }})</h1>

      <h2>Award Date</h2>
      <p>Requested: {{ pr.requested_award_date | date: DATE_FORMAT }}</p>
      {% if pr.estimated_award_date %}
      <p>Estimated: {{ pr.estimated_award_date | date: DATE_FORMAT }}</p>
      {% endif %}

      {% assign activity = pr.activity | sort_by: 'date' | reverse %}
      <h2>Latest Activity</h2>
      {% if activity.empty %}
      <p>No activity.</p>
      {% else %}
      <ul class="activity">
        {% for item in activity %}
        <li>{% include markdownify.html content=item.message links=pr.links %}</li>
        {% endfor %}
      </ul>
      {% endif %}

      {% assign tasks = pr.tasks | sort_by: 'date' | reverse %}
      {% unless tasks.empty %}
      <h2>Upcoming task{{ pr.tasks.size | pluralize }}</h2>
      <ul class="tasks">
        {% for task in tasks %}
        <li>
          {% include due_label.html date=task.due_date due_status=page.due_status %}
          {% include markdownify.html content=task.message links=pr.links %}
        </li>
        {% endfor %}
      </ul>
      {% endunless %}

    </section>
    {% endfor %}
  </body>
</html>
