---
layout: default

stylesheets:
- sprint4a.css

scripts:
- sprint4a/procurements-list.js

body_class: 'site__procurements-list'

title: Active Procurements
subtitle: Enforcement Program Office

sort_options:
- by: requested_award_date
  text: Award Date
- by: favorite
  text: Favorites
---

<form method="GET" class="js-autosubmit">
  <div class="input-with-btn">
    <div class="input-with-btn_input">
      <label for="sort-by">View by</label>
      <select id="sort-by" name="sort">
        <option value="">Default</option>
        {% for sort in page.sort_options %}
        <option value="{{ sort.by }}">{{ sort.text }}</option>
        {% endfor %}
      </select>
    </div>
    <div class="input-with-btn_btn">
      <button class="btn" type="button" action="export/">
        <span class="cf-icon cf-icon-download"></span>
        Export to Excel
      </button>
    </div>
  </div>
</form>

{% for _proc in site.procurements %}
  {% assign proc = _proc | prepare_procurement %}
  {% assign id = _proc.id | split: '/' | last %}
<section class="procurement procurement-card"
  id="{{ id }}"
  data-json='{{ proc | jsonify | xml_escape }}'
  hidden>

  <div class="row card-header">
    <div class="col col-1">
      <span class="procurement-status"
        data-status="{{ proc.status }}">
        {{ proc.status }}
      </span>
    </div>
    <h1 class="col col-8">
      <a href="{{ proc.url }}">{{ proc.name }}</a>
    </h1>
    <div class="col col-3">
      <label is="cfpb-fave-star">
        <input type="checkbox" name="{{ id }}">
      </label>
    </div>
  </div>

</section>
{% endfor %}
