---
layout: default

stylesheets:
- sprint4a.css

scripts:
- sprint4a/procurements-list.js

body_class: 'site__procurements-list'

title: Active Procurements
subtitle: Enforcement Program Office

columns:
  left: 2
  center: 7
  right: 3

sort_options:
- by: requested_award_date
  text: Award Date
- by: favorite
  text: Favorites
---

<form method="GET" class="js-autosubmit">
  <div class="input-with-btn">
    <div class="input-with-btn_input">
      <label for="sort-by">View by</label>
      <select id="sort-by" name="sort">
        <option value="">Default</option>
        {% for sort in page.sort_options %}
        <option value="{{ sort.by }}">{{ sort.text }}</option>
        {% endfor %}
      </select>
    </div>
    <div class="input-with-btn_btn">
      <button class="btn" type="button" action="export/">
        <span class="cf-icon cf-icon-download"></span>
        Export to Excel
      </button>
    </div>
  </div>
</form>

{% assign col = page.columns %}
{% assign DATE_FORMAT = '%B %e, %Y' %}

{% for _pr in site.procurements %}
  {% assign pr = _pr | prepare_procurement %}
  {% assign id = _pr.id | split: '/' | last %}
<section class="procurement procurement-card"
  id="{{ id }}"
  data-json='{{ pr | jsonify | xml_escape }}'
  hidden>

  <div class="row card-header">
    <div class="col col-{{ col.left }}">
      <span class="procurement-due"
        {% if pr.due_in_days < 0 %}
        data-due="over"
        {% elsif pr.due_in_days < 30 %}
        data-due="soon"
        {% endif %}>
        {{ pr.due_in_days }} days
      </span>
    </div>
    <h1 class="col col-{{ col.center }}">
      <a href="{{ pr.url }}">{{ pr.name }}</a>
    </h1>
    <div class="col col-{{ col.right }}">
      <label is="cfpb-fave-star">
        <input type="checkbox" name="{{ id }}">
      </label>
    </div>
  </div>

  <div class="row">
    <div class="col col-{{ col.left }}"></div>
    <div class="col col-{{ col.center }}">
      <h5>Obligated amount</h5>
      ${{ pr.obligated_value | number_to_currency }}
    </div>
    <div class="col col-{{ col.right }}">
      <h5>Award date</h5>
      Requested: <time>{{ pr.requested_award_date | date: DATE_FORMAT }}</time>
      <br>Estimated: <time>{{ pr.estimated_award_date | date: DATE_FORMAT }}</time>
    </div>
  </div>

  <div class="row">
    <div class="col col-{{ col.left }}"></div>
    <div class="col col-{{ col.center | plus: col.right }}">
      <h5>Latest activity</h5>
      {% assign last_event = pr.events | last %}
      {% if last_event %}
      <p class="last-event">
        <a href="{{ last_event.url }}">{{ last_event.document }}</a>
        {{ last_event.action }}ed
        by {{ last_event.actor }}
        on <time>{{ last_event.date | date: DATE_FORMAT }}</time>
      </p>
      {% else %}
      <em class="no-data">There hasn't been any activity yet.</em>
      {% endif %}
    </div>
  </div>

  <div class="row">
    <div class="col col-{{ col.left }}">
    </div>
    <div class="col col-{{ col.center | plus: col.right }}">
      <h6>Upcoming tasks</h6>
    </div>
  </div>

  {% for ms in pr.milestones %}
    {% for doc in ms.documents %}
      {% if doc.status and doc.status != 'complete' %}
  <div class="row">
    <div class="col col-{{ col.left }}">
      {% if doc.due_in_days > 0 %}
      Due in {{ doc.due_in_days }} days
      {% elsif doc.due_in_days < 0 %}
      Overdue {{ 0 | minus: doc.due_in_days }} days
      {% endif %}
    </div>
    <div class="col col-{{ col.center | plus: col.right }}">
        {% if doc.status == 'draft' %}
          Draft
          <a href="{{ doc.url }}">{{ doc.name }}</a>
          due from {{ doc.author }}
          by <time>{{ doc.target_end_date | date: DATE_FORMAT }}</time>
        {% elsif doc.status == 'review' %}
          Draft
          <a href="{{ doc.url }}">{{ doc.name }}</a>
          due from {{ doc.reviewers.last.name }}
          by <time>{{ doc.target_end_date | date: DATE_FORMAT }}</time>
        {% elsif doc.status == 'return' %}
          Revision
          <a href="{{ doc.url }}">{{ doc.name }}</a>
          due from {{ doc.author }}
          by <time>{{ doc.target_end_date | date: DATE_FORMAT }}</time>
        {% elsif doc.status == 'finalize' %}
          Finalize
          <a href="{{ doc.url }}">{{ doc.name }}</a>
          due from {{ doc.executor.name }}
          by <time>{{ doc.target_end_date | date: DATE_FORMAT }}</time>
        {% endif %}
    </div>
  </div>
      {% endif %}
    {% endfor %}
  {% endfor %}

</section>
{% endfor %}
