---
title: CO Dashboard
layout: default
columns:
- Age in Days
- Requisition Number
- Risk Level
- Procurement Team
- Buyer
- CO
- Project Manager/COTR
- Client Office
- Item Description
- Action
- Comment
- Risk Comments
- Status
- Acquisition Package Complete
# - Award Date
# - Privacy Review
# - Security Review
# - PRA Review
# - DIG Review
# - Privacy/Security/DIG Comment
# - Requisition Amount
# - Potential Contract Value
# - Type of Action
# - PR Submitted
# - Client Feedback Provided
# - Solicitation Issued
# - Proposal(s) Due
# - Evaluation Complete
# - Award Amount
# - Vendor Name
# - Acquisition Savings Amount
# - Acquisition Savings Description
# - Item Type
# - Path
---
{% assign rows = site.data.pre_award_procurements %}
{% assign columns = page.columns %}
<table id="procurements" is="cfpb-sortable-table">
  <thead>
    <th data-value="index" aria-sort="ascending">
      #
      {% include sort-icons.html %}
    </th>
    {% for column in columns %}
    <th data-value="{{ column }}" aria-sort="none">
      {% include sort-icons.html %}
      {{ column }}
      {% include filter-popup.html column=column %}
    </th>
    {% endfor %}
  </thead>
  <tbody>
    {% for row in rows %}
    <tr>
      <td data-sorted="true">{{ forloop.index0 }}</td>
      {% for column in columns %}
      <td data-column="{{ column }}">{{ row[column] }}</td>
      {% endfor %}
    </tr>
    {% endfor %}
  </tbody>
</table>

<script>

  window.addEventListener('load', function() {
    var table = document.querySelector('#procurements');

    var headers = table.headers;
    var columns = table.columns;
    var rows = table.rows;

    var ageColumn = 'Age in Days';
    var dateColumns = ['Action', 'Comment', 'Risk Comments'];
    var defaultDateColumn = 'Acquisition Package Complete';
    var datePattern = /\d{1,2}\/\d{1,2}(\/\d{2,4})?/g;
    var dateFormat = 'YYYY-MM-DD';
    var dateNow = Date.now();
    var momentNow = moment();
    var dateNowFormatted = momentNow.format(dateFormat);
    var dateYear = 2016;

    var getDates = function(content) {
      var match = content.match(datePattern);
      return match
        ? [].map.call(match, function(text) {
            var str = text;
            var unqualified = str.split('/').length === 2;
            if (unqualified) {
              str = str + '/' + dateYear;
            }

            var date = new Date(str);
            if (unqualified && +date > dateNow) {
              str = str.replace(String(dateYear), dateYear - 1);
              date = new Date(str);
            }
            var m = moment(date);
            return {
              text: text,
              date: date,
              moment: m,
              formatted: m.format(dateFormat)
            };
          })
       : [];
    };

    var descending = function(a, b) {
      return a > b ? -1 : a < b ? 1 : 0;
    };

    table.data.forEach(function(row, i) {

      var dates = [];

      dateColumns.forEach(function(column) {
        var text = row[column];
        if (text) {
          var found = getDates(text, column);
          // {text: String, date: Date, column: String}
          dates = dates.concat(found);

          var index = columns.indexOf(column) + 1;
          var cell = rows[i].querySelector('td:nth-child(' + index + ')');
          var dateIndex = 0;
          cell.innerHTML = cell.textContent.replace(datePattern, function() {
            var date = found[dateIndex++];
            return '<b title="' + date.date.toString() + '">' + date.text + '</b>';
          });
        }
      });

      if (row[defaultDateColumn]) {
        dates.push(getDates(row[defaultDateColumn])[0]);
      }

      dates = dates
        .filter(function(date) {
          return date.formatted <= dateNowFormatted;
        })
        .sort(function(a, b) {
          return descending(a.formatted, b.formatted);
        });

      if (dates.length) {
        var last = dates[0];
        var rowElement = table.rows[i];
        var ageCell = rowElement.querySelector('[data-column="' + ageColumn + '"]');
        var age = row[ageColumn] = momentNow.diff(last.moment, 'days');
        table.setCellData(ageCell, age);
      }

    });

  });

</script>
