.prototype-checklist {

  [aria-hidden=true] {
    display: none;
  }

  time {
    background: $gray-10;
    border-radius: 0.2em;
    padding: 0.2em 0.4em;
  }

  .project-header {
    background: $green;
    color: $white;
    margin-bottom: 2em;
    padding: 1em;

    > * {
      margin-bottom: 0;
      margin-top: 0;
    }

    .project-name {
      font-weight: bold;
    }

    &::after {
      content: "";
      display: table;
      clear: both;
      height: 0;
    }
  }

  .user-list {
    float: right;
  }

  .user-list li {
    display: inline-block;
    margin-left: 1em;
  }

  .avatar {
    display: inline-block;
    width: 3em;
    height: 3em;
    border-radius: 2em;
  }

  .feature-list_item {
    position: relative;

    &[data-status="past due"] {
      .status-label {
        background: $gold;
        border-radius: 0.2em;
        padding: 0.2em 0.4em;
      }
    }

    button[role=tab] {
      appearance: none;
      background: transparent;
      border: 0;
      padding: 0;

      &::before {
        border-radius: 1em;
        border: 1px solid;
        color: $gray-60;
        content: "+";
        display: block;
        font-size: 2em;
        height: 1em;
        line-height: .85;
        position: absolute;
        right: 1em;
        top: 0;
        width: 1em;
      }

      &[aria-expanded=true]::before {
        content: "-";
      }
    }

    &[data-status="complete"] button[role=tab]::before {
      content: "✔";
      color: $gray-40;
    }

    &:not([data-status="complete"]) button[role=tab] {
      color: $pacific;
    }
  }

  .feature-list_item-header {
    position: relative;

    .avatar {
      float: left;
      margin-right: 1em;
    }
  }

}
